// src/styles/custom.scss

body {
    font-family: 'Raleway';
    

}

.container {
    margin-top: 20px;
}





.formulario{
    max-width: 400px; 
    border: none;
}

.bordes{
    border: none;   
}

.fondo{
    position: relative; 
    bottom: 0; 
    width: 100%; 
}
